[path]
data = ./MASS_SS3_DE_16folds.npz
save = ./MASS_SS3_Results_folder/
pretrain_folder = ./MASS_SS3_pretrain_folder/

[train]
use_pretrained = True
channels = 26
fold = 16
context = 9
epoch = 100
batch_size = 1024
optimizer = adam
learn_rate = 0.001
lr_decay = 0.0

[model]
GLalpha = 0.0
cheb_filters = 10
cheb_k = 3
l1 = 0
l2 = 0
dropout = 0.6
GRU_Cell = 256
attn_heads = 20

