[path]
data = ./SleepEDF20_DE_20Folds.npz
save = ./SleepEDF20_Results_folder/
pretrain_folder = ./SleepEDF20_pretrain_folder/

[train]
use_pretrained = False
channels = 3
fold = 20
context = 9
epoch = 100
batch_size = 1024
optimizer = adam
learn_rate = 0.001
lr_decay = 0.0

[model]
GLalpha = 0.0
cheb_filters = 10
cheb_k = 3
l1 = 0
l2 = 0
dropout = 0.6
GRU_Cell = 256
attn_heads = 20

